@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;800&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --white: rgb(245, 243, 255);
}

body {
  background: rgb(30, 5, 117);
  background: -moz-radial-gradient(
    circle,
    rgba(30, 5, 117, 1) 27%,
    rgba(39, 4, 99, 1) 57%,
    rgba(0, 10, 61, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(30, 5, 117, 1) 27%,
    rgba(39, 4, 99, 1) 57%,
    rgba(0, 10, 61, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(30, 5, 117, 1) 27%,
    rgba(39, 4, 99, 1) 57%,
    rgba(0, 10, 61, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e0575",endColorstr="#000a3d",GradientType=1);
}

header {
  background-color: transparent;
  color: rgb(245, 243, 255);
  padding: 50px;
  font-family: "Prompt";
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 800;
}

.logo img {
  width: 60px;
  height: 60px;
}

.container {
  display: flex;
}

.sec-left {
  font-family: "Prompt";
  color: var(--white);
  margin-left: 80px;
  font-size: 70px;
  width: 800px;
  word-spacing: 0px;
}
